.wrapper{

   animation:slide 8s ease-out infinite 4s;
  
   
}
@keyframes slide{
    0%{
        transform:translateX(0%);  
    }
    10%{
        transform:translateX(0%);
    }
    20%{
        transform:translateX(-100%);
    }
    40%{
        transform:translateX(-100%);
    }
    50%{
        transform:translateX(-200%);
    }
    60%{
        transform:translatex(-200%);
    }
    70%{
        transform:translatex(-300%);
    }
    80%{
        transform:translatex(-300%);
    }
    90%{
        transform:translatex(-400%);
    }
    100%{
        transform:translatex(-400%);
    }
  
}